:root {
  --light-color: rgb(245, 245, 245);
  --light-secondary: rgb(240, 240, 240);
  --light-muted: rgb(170, 170, 170);
  --dark-color: rgb(50, 50, 50);
  --dark-secondary: rgb(60, 60, 60);
  --dark-muted: rgb(100, 100, 100);
}

body {
  color-scheme: light dark;
  background-color: light-dark(var(--light-color), var(--dark-color));
  color: light-dark(var(--dark-color), var(--light-color));
}

.component-spin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  /* background-color: hsla(0, 0%, 100%, 0.9); */
}

.command-text {
  /* border: light-dark(1px solid #eee, 1px solid); */
  padding: 3px 6px;
  border-radius: 3px;
}

/* change */
.ant-spin-nested-loading > div > .ant-spin {
  max-height: none !important;
}

/* change */
.ant-spin-nested-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.page-app {
  width: 500px;
  padding-top: 20px;
  margin: 0 auto;
}

.ant-upload.ant-upload {
  width: 500px;
  padding: 10px;
}

.exec {
  width: 500px;
}

.ant-input {
  background-color: light-dark(var(--light-secondary), var(--dark-secondary));
  margin: 10px 0;
}

h4 {
  margin-top: 20px;
}

.muted {
  color: light-dark(var(--dark-muted), var(--light-muted));
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
